@charset "UTF-8";

@import "components/_variables";
@import "components/_basics";
@import "components/_components";
@import "components/_animations";
@import "components/_menu";

@import "components/_main-content";
@import "components/_home-profiles";
@import "components/_home-message";
@import "components/_profile";
@import "components/_profile-picture";

@import "components/_alert";
@import "components/_footer";





html, body{
    margin: 0;
    padding: 0;
    height: 100%;   
}

.show-profile{
    .profile-image{
        border-radius: 50%;
        width: 90%;
    }
    .-info{
        tr{
            &:last-child{
                &:hover{
                    background: none;
                }
            }
        }
        td{ 
            padding: 15px 25px;
        }
    }
}

.card-alert{
    position: fixed;
    top: 110px;
    right: 25px;
}

.carousel-inner{
    margin-top: 90px;
    max-height: 480px;
}

.has-danger{
    input, textarea, select{
        border: 1px solid $red;
    }
}

h2, h3, h4, h5, h6{
    text-transform: none;
}



.statistics-container{
    background: rgba(0,0,0,0.25);
    padding: 45px 0 25px 0;
}

.profiles-container{
    .profile-image{
        width: 65px;
        height: auto;
        border-radius: 50%;
    }
}

.pagination{
    ul{
        margin: auto;
    }
}