$red: #dc3545;

.show-profile{
    .-info{
        td{ padding: 15px 25px; }
    }
}

.card-alert{
    position: fixed;
    top: 110px;
    right: 25px;
}

.carousel-inner{
    margin-top: 90px;
    max-height: 480px;
}

.has-danger{
    input, textarea, select{
        border: 1px solid $red;
    }
}

h2, h3, h4, h5, h6{
    text-transform: none;
}