.footer{
    padding: 50px 25px;
    background: $darkGrey;
    color: $white;
    position: relative;
    a{
        color: $lightGrey;
    }
    p{
        margin: 0;
    }
    .up-to-top{
        position: absolute;
        bottom: 45px;
        right: 45px;
        .btn-mine{
            background-color: $darkGrey;
            border: 1px solid $lightGrey;
            color: $lightGrey;
            padding: 15px;
            border-radius: 50%;
            width: 55px;
            height: 55px;
            svg{
                width: 20px;
                height: 20px;
            }
            &:hover{
                background-color: $lightGrey;
                cursor: pointer;
                svg{
                    color: $darkGrey
                }
            }
        }
    }
}


