.show-profile{
    .admin-comment-form{
		padding: 25px ; 
		background: rgba(0,0,0,0.075); 
		margin-bottom: 25px;
    }
    ._img-box{
        width: 80%;
        max-width: 80%;
    }
    .profile-image{
        border-radius: 50%;
        width: 90%;
    }
    .-info{
        tr{
            &:last-child{
                &:hover{
                    background: none;
                }
            }
        }
        td{ 
            padding: 15px 25px;
        }
    }
}
