.share-buttons{
    position: fixed;
    bottom: 45px;
    right: 45px;
    z-index: 999;
    .btn{
        display: none;
        padding: 15px;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        margin-top: 10px;
        svg{
            width: 20px;
            height: 20px;
        }
    }
    .active{
        display: block;
    }
    &:hover .btn:not(.active){
        $time: 480ms;
        display: block;
        -webkit-animation: fadein $time ease;
        -moz-animation: fadein $time ease;
        -o-animation : fadein $time ease;
        -ms-animation: fadein $time ease;
        animation: fadein $time ease;
    }
}
